.App {
  text-align: center;
}
.calander {
  display: flex;
  padding: 1.5em;
}
input[type="radio"] {
  display: none;
}
.flex {
  display: flex;
}

.star {
  transition: color 200ms; 
  cursor: pointer;
}